<configuration>

  <appender name="CONSUMER_FILE" class="ch.qos.logback.core.FileAppender">
    <file>consumer.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="PUBLISHER_FILE" class="ch.qos.logback.core.FileAppender">
    <file>publisher.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
    <file>error.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_CONSUMER_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="CONSUMER_FILE" />
  </appender>

  <appender name="ASYNC_PUBLISHER_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="PUBLISHER_FILE" />
  </appender>

  <logger name="talkingscott.rabbitmq_tester.ConsumerApp" level="INFO" additivity="false">
    <appender-ref ref="ASYNC_CONSUMER_FILE" />
  </logger>

  <logger name="talkingscott.rabbitmq_tester.PublisherApp" level="INFO" additivity="false">
    <appender-ref ref="ASYNC_PUBLISHER_FILE" />
  </logger>

  <root level="WARN">
    <appender-ref ref="ERROR_FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>